@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Popins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0b061f;
}
.btn {
  padding: 80px;
  background: black;
  border: 2px solid #ffffff;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}
